<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icons/page-icon.png" type="image/icon type">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="stylesheets/preloader.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/navigation.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- bootstrap 4 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" defer></script>

    <!-- data table -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"
        defer></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" defer></script>


    <title>VNCOVI Tracking</title>
</head>

<body>
    <div id="preloader" class="">
        <div class="spinner">
            <div></div>
        </div>
    </div>
    <div id="app" class="container-fluid font-weight-bold wrapper">
        <!--navigation-->
        <nav class="nav side-nav bg-gradient" id="side-nav">
            <!--close button-->
            <div class="nav__close"></div>
            <!--navigation list-->
            <ul class="nav__list pl-3">
                <!--navigation item-->
                <li class="nav__item">
                    <a class="nav__link" href="#general">
                        <i class="fas fa-home"></i>
                        Tổng quan <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!--navigation item-->
                <li class="nav__item">
                    <a class="nav__link" href="#detail">
                        <i class="fas fa-info-circle"></i>
                        Chi tiết
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#notification">
                        <i class="fas fa-bell"></i>
                        Thông báo mới
                    </a>
                </li>
                <!-- <li class="nav__item">
                    <a class="nav__link" href="#visualize">
                        <i class="fas fa-chart-bar"></i>
                        Trực quan
                    </a>
                </li> -->
            </ul>
        </nav>
        <!--content part-->
        <main class="page__content">
            <!--open navigation button-->
            <div class="nav-open-btn">
                <div class="nav-open-btn__bar"></div>
                <div class="nav-open-btn__bar"></div>
                <div class="nav-open-btn__bar"></div>
            </div>
            <!--content block-->
            <div class="content">
                <div class="row mb-2" id="top-branch">
                    <h5 class="col text-uppercase text-center mt-auto">THÔNG TIN DỊCH BỆNH</h5>
                </div>
                <div class="row px-3" id="update-time">
                    <p class="font-italic font-weight-normal">Cập nhật dữ liệu lúc: <span>
                            <%= new Date(Date.now()).toLocaleTimeString('vi-VN', {timeZone: 'Asia/Ho_Chi_Minh'}) %>
                        </span></p>
                </div>
                <section id="general" class="my-5">
                    <p class="section__title text-uppercase">Tổng quan</p>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-vn-tab" data-toggle="tab" href="#tab-vn">Việt Nam</a>
                            <a class="nav-link" id="nav-world-tab" data-toggle="tab" href="#tab-world">Thế Giới</a>
                        </div>
                    </nav>
                    <div class="tab-content">
                        <div id="tab-vn" class="card tab-pane fade show active">
                            <div class="card-body container">
                                <div class="row my-1 px-2">
                                    <div class="col-9 mx-auto col-md-3 my-2 px-1 content-box text-center">
                                        <span class="title mb-2 text-left text-danger">Tổng số ca nhiễm: </span>
                                        <span class="number p-2 rounded-pill bg-danger text-light">
                                            <% if (data.vietnam.total) { %>
                                                <%= data.vietnam.total %>
                                                <% if (newCases.vietnam.total && newCases.vietnam.total !=0) { %>
                                                    <span class="badge badge-light">+<%= newCases.vietnam.total %>
                                                    </span>
                                                <% } %>
                                            <% } %>
                                        </span>
                                    </div>
                                    <div class="col-9 mx-auto col-md-3 my-2 px-1 content-box text-center">
                                        <span class="title mb-2 text-left text-warning">Đang điều trị: </span>
                                        <span class="number p-2 rounded-pill bg-warning text-light">
                                            <% if (data.vietnam.active) { %>
                                                <%= data.vietnam.active %>
                                                <% if (newCases.vietnam.active && newCases.vietnam.active !=0) { %>
                                                    <span class="badge badge-light">
                                                        <% if (newCases.vietnam.active > 0) { %>
                                                        <%= '+' %> 
                                                        <% } %>
                                                        <%= newCases.vietnam.active %>
                                                    </span>
                                                <% } %>
                                            <% } %>
                                        </span>
                                    </div>
                                    <div class="col-9 mx-auto col-md-3 my-2 px-1 content-box text-center">
                                        <span class="title mb-2 text-left text-success">Đã khỏi: </span>
                                        <span class="number p-2 rounded-pill bg-success text-light">
                                            <% if (data.vietnam.recovered) { %>
                                                <%= data.vietnam.recovered %>
                                                <% if (newCases.vietnam.recovered && newCases.vietnam.recovered !=0) { %>
                                                    <span class="badge badge-light">+<%= newCases.vietnam.recovered %>
                                                    </span>
                                                <% } %>
                                            <% } %>
                                        </span>
                                    </div>
                                    <div class="col-9 mx-auto col-md-3 my-2 px-1 content-box text-center">
                                        <span class="title mb-2 text-left text-dark">Tử vong: </span>
                                        <span class="number p-2 rounded-pill bg-dark text-light">
                                            <% if (data.vietnam.dead) { %>
                                                <%= data.vietnam.dead %>
                                                <% if (newCases.vietnam.dead && newCases.vietnam.dead !=0) { %>
                                                    <span class="badge badge-light">+<%= newCases.vietnam.dead %>
                                                    </span>
                                                <% } %>
                                            <% } %>
                                        </span>
                                    </div>
                                </div>
                                <div class="row mt-3 p-3 bg-gradient text-light rounded">
                                    <p class="w-100 d-block">So với
                                        <span id="new-cases-time-line" data-timeline="<%= newCases.timeline %>"></span>:
                                    </p>
                                    <ul class="list-unstyled font-weight-normal">
                                        <!-- New at total -->
                                        <% if (newCases.vietnam.total != 0) { %>
                                            <%- '<li class="pl-3">Ghi nhận thêm ' + newCases.vietnam.total + ' ca mắc mới</li>' %>
                                        <% } else { %>
                                            <%-'<li class="pl-3">Không ghi nhận ca mới</li>'%>
                                        <% }; %>
                                        <!-- New recovered -->
                                        <% if (newCases.vietnam.recovered != 0) { %>
                                            <li class="pl-3">Có thêm <%= newCases.vietnam.recovered %> bệnh nhân đã được chữa khỏi</li>
                                        <% }; %>
                                        <!-- New dead -->
                                        <% if (newCases.vietnam.dead != 0) { %>
                                            <li class="pl-3">Có thêm <%= newCases.vietnam.dead %> bệnh nhân đã tử vong</li>
                                        <% } %>   
                                    </ul> 
                                </div>
                            </div>
                        </div>
                        <div id="tab-world" class="card tab-pane fade">
                            <div class="card-body container">
                                <div class="row mt-1 px-2">
                                    <div class="col-9 mx-auto col-md-3 my-2 px-1 content-box text-center">
                                        <span class="title mb-2 text-left text-danger">Tổng số ca nhiễm: </span>
                                        <span class="number p-2 rounded-pill bg-danger text-light">
                                            <% if (data.world.total) { %>
                                                <%= data.world.total %>
                                                <% if (newCases.world.total && newCases.world.total !=0) { %>
                                                    <span class="badge badge-light">+<%= newCases.world.total %>
                                                    </span>
                                                <% } %>
                                            <% } %>
                                        </span>
                                    </div>
                                    <div class="col-9 mx-auto col-md-3 my-2 px-1 content-box text-center">
                                        <span class="title mb-2 text-left text-warning">Đang điều trị: </span>
                                        <span class="number p-2 rounded-pill bg-warning text-light">
                                            <% if (data.world.active) { %>
                                                <%= data.world.active %>
                                                <% if (newCases.world.active && newCases.world.active !=0) { %>
                                                    <span class="badge badge-light"><%= newCases.world.active %>
                                                    </span>
                                                <% } %>
                                            <% } %>
                                        </span>
                                    </div>
                                    <div class="col-9 mx-auto col-md-3 my-2 px-1 content-box text-center">
                                        <span class="title mb-2 text-left text-success">Đã khỏi: </span>
                                        <span class="number p-2 rounded-pill bg-success text-light">
                                            <% if (data.world.recovered) { %>
                                                <%= data.world.recovered %>
                                                <% if (newCases.world.recovered && newCases.world.recovered !=0) { %>
                                                    <span class="badge badge-light">+<%= newCases.world.recovered %>
                                                    </span>
                                                <% } %>
                                            <% } %>
                                        </span>
                                    </div>
                                    <div class="col-9 mx-auto col-md-3 my-2 px-1 content-box text-center">
                                        <span class="title mb-2 text-left text-dark">Tử vong: </span>
                                        <span class="number p-2 rounded-pill bg-dark text-light">
                                            <% if (data.world.dead) { %>
                                                <%= data.world.dead %>
                                                <% if (newCases.world.dead && newCases.world.dead !=0) { %>
                                                    <span class="badge badge-light">+<%= newCases.world.dead %>
                                                    </span>
                                                <% } %>
                                            <% } %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="detail" class="my-5">
                    <p class="section__title text-uppercase">Chi tiết</p>
                    <div class="section__content">
                        <div class="font-weight-normal container-fluid">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered text-center" id="sailorTableArea">
                                    <%- data.detailTable %>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="notification" class="my-5">
                    <p class="section__title text-uppercase">Thông báo mới</p>
                    <div class="card section__content">
                        <div class="card-body">
                            <div class="timeline font-weight-normal">
                                <%- data.timeline %>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- <section id="visualize" class="my-5">
                    <p class="section__title text-uppercase">Trực quan</p>
                    <div class="card section__content">
                        <div class="card-body">
                            <p>Coming soon</p>
                        </div>
                    </div>
                </section> -->
            </div>
        </main>
        <section class="row text-center">
            <div class="col-12 col-md-5 mx-auto">
                <img src="images/9-bien-phap-moi-nhat-phong-chong-dich-covid-19-nguoi-dan-can-biet.jpg" 
                     alt="Các biện pháp phòng chống virus cororona"
                     class="img-responsive w-100">
            </div>
        </section>
        <footer class="row">
            <div class="container py-5 text-center">
                <div class="row">
                    <h5 class="col-12 text-uppercase">VN NCOVI Tracking Project</h5>
                    <p class="col-12">Nguồn dữ liệu: <a class="text-danger" href="https://ncov.moh.gov.vn/">Bộ Y Tế</a>
                    </p>
                    <p class="col-12 font-weight-normal font-italic">by baodanhit</p>
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <p class="font-weight-normal pt-2">danhtqbit@gmail.com &nbsp;||</p>
                        <h3 class="px-3">
                            <a class="nav__link" href="https://github.com/baodanhit"><i class="fab fa-github"></i></a>
                        </h3>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        const dateTimeFormat = new Intl.DateTimeFormat('vi-VN', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
        const timeDisplay = document.querySelector('#new-cases-time-line');
        var date = new Date(timeDisplay.getAttribute('data-timeline'));
        timeDisplay.innerHTML = dateTimeFormat.format(date);
    </script>
    <script src="javascripts/preloader.js"></script>
    <script src="javascripts/navigation.js"></script>
    <script src="javascripts/table.js"></script>
</body>

</html>